html, body {
  height: 100%;          /* full height of viewport */
  margin: 0;             /* remove browser default margin */
}

body {
  display: flex;         /* body is flex container */
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}

.board {
  border: 2px solid black; /* just to see it */
  border-collapse: collapse;
}

.board td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;

}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restartBtn {
    margin: 25px;
}