/* styles for lesson_01/joneemckellar */
h1 {
  color: #1F2328;
  font-size: 32px;
  font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
  margin-bottom: 16px;
  padding-bottom: 9.6px;
}

h2 {
  color: #1F2328;
  font-size: 24px;
  font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
  margin-top: 24px;
  margin-bottom: 16px;
  padding-bottom: 7.2px;
}

p {
  color: #1F2328;
  font-size: 16px;
  font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
  margin-bottom: 16px;
}

ul {
  color: #1F2328;
  margin-bottom: 16px;
  padding-left: 32px;
}

img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

div {
  color: #1F2328;
  font-size: 16px;
  font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
}

article {
  color: #1F2328;
  font-size: 16px;
  font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
}

li {
  color: #1F2328;
  font-size: 16px;
  font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
  margin-bottom: 4px;
}
