<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<h1>Welcome here is your info</h1>
<body>
    <p><%= locals.firstName %></p>
    <p><%= locals.lastName %></p>
    <p><%= locals.email %></p>
    <p><%= locals.phone %></p>
</body>
</html>