<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>Enter Contact Info</h1>
    <link rel="stylesheet" href="">
</head>
<body>
    <form method="POST" actio="/new">
        <input type="text" name="firstName">
        <input type="text" name="lastName">
        <input type="email" name="email">
        <input type="tel" name="phone">

        <button type="submit">Submit</button>
    </form>
    
</body>
</html>