h1 {
    padding-bottom: .3em;
    font-size: 2em;
    border-bottom: 1px solid var(--borderColor-muted, var(--color-border-muted));
}

h3 {
    font-size: 1.25em;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
}